[Desktop Entry]
Name=FreeTube
Exec=freetube-snap %U
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/freetube.svg
StartupWMClass=FreeTube
Comment=A private YouTube client
MimeType=x-scheme-handler/freetube;
Categories=Network;


